@using System.Web
@using System.Globalization
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var urlParameters = HttpUtility.ParseQueryString(uri.Query);

        if (string.IsNullOrEmpty(urlParameters["language"]) is false)
        {
            string urlLanguage = urlParameters["language"]!;
            CultureInfo.DefaultThreadCurrentCulture = CultureInfo.GetCultureInfo(urlLanguage);
            CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.GetCultureInfo(urlLanguage);
            InvokeAsync(() => JSRuntime.InvokeVoidAsync("blazorCulture.set", urlLanguage));
        }
    }
}